<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Main Page </title>
</head>
<body>    
    
    <button class="create">Create</button>
    <button class="remove">Remove</button>
    <input type="file" class="image">

    <br/>

    <button class="characterCreate">Create</button>

    <link rel="stylesheet" href="mainPage/style.css">
    <script src="mainPage/script.js"></script>
</body>
</html>